#contact{
    background-color: #f3f0e2;
    text-align: center;
    height: 45vh;
}
.info{
    width: 100vh;
    margin: 0 auto;
}
#contact h1{
    margin: 0;
    color: rgb(45, 93, 124);
    font-size: 50px;
    padding-top: 40px;
}
#contact h2{
    margin-top: 40px;
    margin-left: 0;
}
@media only screen and (max-height: 700px) {
    #contact{
        height: calc(100vh + 25px);
    }
    #contact h1{
        padding-top: 50px;
    }
}


