#projects{
    background-color: #f3f0e2;
    text-align: center;
    min-height: Calc(100vh + 50px);
    overflow: auto;
    margin: 0;
}
#projects h1{
    margin: 0;
    color: rgb(45, 93, 124);
    font-size: 50px;
    padding-top: 40px;
}
/* FlexBox */
.p-2{
    padding-left: 0;
    padding-right: 0;
}
/* Overlay */

.learned{
    margin: 0 auto;
    width: 20vw;
    word-wrap: break-word;
}

.project h4{
    color: rgb(45, 93, 124);
    margin: 0;
}
.project{
    margin-left:5px;
    margin-right:5px;
}

@media all and (max-width: 1050px){
    .learned{
        width: 50vw;
        margin: 0;
    }

}


@media all and (max-width: 700px){
    .learned{
        width: 90vw;
        margin: 0 auto;
    }

}