#projects{
    background-color: #f3f0e2;
    text-align: center;
    height: 100%;
    overflow: auto;
    margin: 0;
}
#projects h1{
    margin: 0;
    color: rgb(45, 93, 124);
    font-size: 50px;
    padding-top: 40px;
}
.experience img{
    margin-left: 3px;
    margin-right: 3px;
}
h5{
    margin-top: 20px;
}
/* FlexBox */
.p-2{
    padding-left: 0;
    padding-right: 0;
}
.overplayContainer a{
    margin-right: 10px;
    margin-left: 10px;
}

.learned{
    margin: 0 auto;
    width: 20vw;
    word-wrap: break-word;
}
.learned h5{
    margin-top: 5px;
}

.project h4{
    color: rgb(45, 93, 124);
    margin: 0;
}
.project{
    margin-left:5px;
    margin-right:5px;
}

@media all and (max-width: 1050px){
    #projects{
        height: 100%;
    }
}


@media all and (max-width: 700px){
    .learned{
        width: 90vw;
        margin: 0 auto;
    }
    .projectBigImg{
        width: 95vw;
    }

}