#aboutPage{
    background-color: rgb(45, 93, 124);
    color: #f3f0e2;
    height: 100vh;
    text-align: center;
}
h2{
    margin-top: 20px;
}
#aboutPage h1{
    margin: 0;
    color: #f3f0e2;
    font-size: 50px;
    padding-top: 20px;
}
.row{
    width: 35vw;
    margin: 0 auto;
}
.col{
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.skill{
    display: inline-block;
}
@media only screen and (max-height: 800px) {
    #aboutPage{
        height: calc(100vh + 25px)
    }
    #aboutPage h1{
        padding-top: 50px;
    }
    .row{
        width: 100vw;
    }
}