html{
    background-color: #f3f0e2;
}





#aboutPage{
    background-color: rgb(45, 93, 124);
    color: #f3f0e2;
    height: 100vh;
    text-align: center;
}
#aboutPage h1{
    margin: 0;
    color: #f3f0e2;
    font-size: 50px;
    padding-top: 20px;
}



@media all and (max-width: 500px){
    #header{
        height: 100vh;
    }
    .NavBtn{
        margin: 0;
        margin-top: 3px;
        margin-bottom: 3px;
        
    }
    #nameH1{
        padding-top: 70px;
    }
    #projects{
        height: 200vh;
    }
    .projectFooter{
        top: 30%;
    }
    .learned{
        width: 80vw;
        margin: 0 auto;
    }

}