html{
    background-color: #f3f0e2;
}

#header{
    height: 1000px;
    background-color: #2e364f;
    color: #ef5939;
    text-align: center;
}
#header #nameH1{
    font-size: 100px;
    margin: 0;
}
#header a{
    vertical-align: middle;
    color: #f3f0e2;
}
#contactInfo{
    padding-top: 100px;
}
#header img{
    margin-left: 5px;
    margin-right: 5px;
}

#dropDownMenu a{
    color: black;
}
#projects{
    background-color: #f3f0e2;
    text-align: center;
    padding-top: 20px;
    height: 1000px;
}
#projects h1{
    margin: 0;
    color: #2d5d7c;
    font-size: 50px;
}

@media all and (max-width: 500px){
    #header{
        height: 600px;
    }
    #projects{
        height: 650px;
    }
}